<div class="conatiner">
  <mat-grid-list cols="12">
      <img src="logo.png" alt="{{ title }}" style="height: 120px">
    </mat-grid-list>

    
      <mat-grid-list cols="12">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product" routerLinkActive="active" ariaCurrentWhenActive="page">Product</a>
          </li>
          <li><a class="nav-link" routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">Cart</a></li>
        
        </ul>
      </mat-grid-list>
      <router-outlet></router-outlet>



      <footer class="m-4">
        Copyright 2024. All rights reserved.
      </footer>

</div>