<div cols="row d-flex justify-content-between">
  <div class="row">
    <div class="col-3 my-4" *ngFor="let object of products">
   
      <mat-card class="card mat-card mat-focus-indicator box-shadow-md p-4" style="background: none;">
        <!-- Image Section -->




          <div class="card-body">
           

            <a href="javascript:void(0)">
              <img mat-card-image src="{{ object.images[0] }}"  [alt]="object.title" style="max-height:160px; width: auto;" />
            </a>

            <div>
              <span class="card-title">{{ object.title.slice(0, 8)  }}</span>
              <span class="fw-bold">
                $ {{ object.price }}
              </span>
            </div>

            
            
            <button  color="accent" class="btn btn-primary mat-focus-indicator button-green" 
            (click)="addToCart(object)">
              Add to Cart
            </button>
          </div>


        
      </mat-card>
      
    </div>
  </div>
</div>
